<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Bank Entity Management</title>
		<link rel="stylesheet" type="text/css" href="content/modal.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<div id="app" class="container">			

	 		<button id="show-modal" @click="showModal = true"  class="btn btn-primary" >
				 Añadir Entidad
			</button>			
			<modal v-if="showModal" @close="showModal = false">		
				<h3 slot="header">
					Añadir Entidad
				</h3>
			</modal>
					
			<table class="table">
		  		<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Grupo</th>
						<th scope="col">Pais</th>
						<th scope="col">Provincia</th>
						<th scope="col">Localidad</th>
						<th scope="col">Código Postal</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Email</th>
						<th scope="col">Logo</th>									  
					</tr>
		  		</thead>
		  		<tbody>
					<tr v-for="(item,index) in entidades" :key="index">
						<td scope="row">{{item.name}}</td>
						<td scope="row">{{item.entityGroup.name}}</td>
						<td scope="row">{{item.country}}</td>
						<td scope="row">{{item.province}}</td>
						<td scope="row">{{item.city}}</td>
						<td scope="row">{{item.postalCode}}</td>
						<td scope="row">{{item.telephone}}</td>
						<td scope="row">{{item.email}}</td>
						<td scope="row"><img v-bind:src="item.logo" alt="imagen" width="120" height="80" ></td>									  
					</tr>   
		  		</tbody>
			</table>
					
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="./App.js"></script>		

		<script type="text/x-template" id="modal-template">	
			<transition name="modal">
    			<div class="modal-mask">
      				<div class="modal-wrapper">
        				<div class="modal-container">
							<div class="modal-header">
            					<slot name="header">
              						
            					</slot>
          					</div>
          					<div class="modal-body">
            					<slot name="body">									
									<p v-if="errors.length">				
									<ul>
										<li v-for="error in errors">
											{{ error }}
										</li>
									</ul>
									</p>			 
									<form @submit.prevent="submit">														
										<strong>
											Nombre
										</strong>
										<input type="text" v-model="name" class="form-control"> 									
										<strong>
											Grupo
										</strong>
										<select id="idEntityGroup" name="idEntityGroup" v-model="idEntityGroup" class="custom-select">
											<option value="1">
												Grupo 1
											</option>							
										</select>									
										<strong>
											Pais
										</strong>						
										<select id="idPais" name="idPais" v-model="idPais" class="custom-select">
											<option value="1">
												España
											</option>							
										</select>			
										<strong>
											Provincia
										</strong>						
										<select id="idProvince" name="idProvince" v-model="idProvince" class="custom-select">
											<option value="1">
												Alicante
											</option>							
										</select>						
										<strong>
											Población
										</strong>						
										<input type="text" v-model="city" class="form-control"> 
										<strong>
											Código Postal
										</strong>
										<input type="text" v-model="postalCode" class="form-control"> 										
										<strong>
											Dirección
										</strong>
										<input type="text" v-model="adress" class="form-control"> 																
										<strong>
											Teléfono
										</strong>										
										<input type="text" v-model="telephone" class="form-control"> 
										<strong>
											Email
										</strong>
										<input type="text" v-model="email" class="form-control"> 
										<strong>
											Logo
										</strong>
										<input type="text" v-model="logo" class="form-control"> 														
										<div class="modal-footer">
											<slot name="footer">     						
												<button class="modal-default-button" @click="$emit('close')">
													Cerrar
												</button>
												<button class="modal-default-button" type="submit">
													Añadir
												</button>
											</slot>
										</div>																
									</form>			
            					</slot>
          					</div>
        				</div>
      				</div>
    			</div>
  			</transition>	
		</script>
	</body>
</html>


